<template name="login">
    <div class="container">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-4">
                <form action="" class="login-form">
                    <div class="form-group">
                        <label for="">Please answer the question
                            honestly</label>
                        <input type="password" class="form-control login-input"
                               placeholder="Are you an admin?"
                        />
                        <button class="btn btn-primary">Yes... No.. It's
                            confidential
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>
